/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
/* @tailwind screen; */


/*=================================================================

 Page structure

 [1] Elements
 [2] Layout
 [3] Header
 [4] Main
 [5] Footer

 =================================================================*/

/* Elements *******************************************************/

body {
  @apply bg-gray-100;
  @apply font-sans;
  @apply text-base;
  @apply text-gray-800;
}

p {
  @apply leading-relaxed;
  @apply mb-4;
}

a {
  @apply underline;
}

a:hover {
  @apply no-underline;
  @apply text-red-700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply capitalize;
  @apply leading-relaxed;
  @apply mb-4;
  @apply font-bold;
  @apply text-black;
  @apply tracking-wide;
}

.h1 {
  @apply text-4xl;
}

.h2 {
  @apply text-3xl;
}

.h3 {
  @apply text-2xl;
}

.h4 {
  @apply text-xl;
}

.h5,
.h6 {
  @apply text-lg;
}

ul,
ol,
dl {
  @apply grid;
  @apply grid-cols-1;
  @apply gap-3;
}


/* Layout *******************************************************/

.page {
  @apply flex;
  @apply flex-col;
  @apply max-w-screen-xl;
  @apply min-h-screen;
  @apply pt-16;
}

.content-column {
  @apply grid;
  @apply grid-cols-1;
  @apply gap-4;

  /* grid-template-rows: min-content 1fr; */
}

.content-section {
  @apply flex-1;
  @apply flex;
  @apply flex-col;
  @apply w-full;
  @apply py-4;
}


/* Header *******************************************************/

.header {
  @apply border-b;
  @apply border-gray-300;
  @apply bg-gray-100;
  @apply bg-opacity-90;
  @apply fixed;
  @apply text-gray-900;
  @apply top-0;
  @apply w-full;
  @apply z-30;

  backdrop-filter: blur(10px);
}

.header__wrapper {
  @apply flex;
  @apply flex-wrap;
  @apply items-center;
  @apply justify-between;
  @apply py-4;
  @apply px-6;
  @apply mx-auto;
}

.header__home {
  @apply no-underline;
}

.header__brand {
  @apply flex;
  @apply items-center;
}

.header__face {
  @apply h-8;
  @apply mr-4;
  @apply w-8;
}

.header__title {
  @apply font-bold;
  @apply tracking-widest;
  @apply uppercase;
}

.header__links {
  @apply flex;
  @apply gap-5;
  @apply leading-none;
  @apply ml-12;
  @apply text-gray-600;
}

.header__links .icon__part {
  @apply fill-current;
}

.header__nav {
  @apply duration-500;
  @apply h-0;
  @apply mt-4;
  @apply overflow-hidden;
  @apply opacity-0;
  @apply transition-all;
  @apply w-screen;
}

.header__nav--opened {
  @apply h-auto;
  @apply opacity-100;
}

.header__back-drop {
  @apply bg-gray-200;
  @apply bg-opacity-50;
  @apply fixed;
  @apply h-screen;
  @apply hidden;
  @apply w-screen;
}

.header__back-drop--opened {
  @apply block;
}


/* Main *******************************************************/

.main {
  @apply flex;
  @apply flex-col;
  @apply flex-1;
  @apply w-full;
  @apply opacity-0;
  @apply px-6;
  @apply py-4;
  @apply mx-auto;
}


/* Footer *******************************************************/

.footer {
  @apply bg-gray-100;
  @apply bg-opacity-90;

  backdrop-filter: blur(10px);
}

.footer__wrapper {
  @apply border-t;
  @apply border-gray-300;
  @apply m-auto;
  @apply max-w-screen-xl;
}

.footer__credit {
  @apply flex;
  @apply justify-between;
  @apply p-4;
  @apply mx-auto;
  @apply text-sm;
}

.footer__links {
  @apply flex;
  @apply mb-0;
  @apply text-gray-600;
}

.footer__link {
  @apply opacity-50;
}

.footer__link:hover {
  @apply opacity-100;
}


/*=================================================================

 Components & modules

 [1] Buttons
 [2] Face
 [3] Icon
 [4] Main navigation
 [5] Anchor navigation
 [6] Hero
 [7] Typing

 =================================================================*/


/* Buttons *******************************************************/

.button {
  @apply bg-gray-900;
  @apply border-b-4;
  @apply border-red-600;
  @apply duration-300;
  @apply font-bold;
  @apply inline-block;
  @apply no-underline;
  @apply py-2;
  @apply px-4;
  @apply text-white;
  @apply transition-all;
}

.button:hover {
  @apply bg-red-600;
  @apply border-gray-900;
  @apply text-white;
}

.button--ghost {
  @apply bg-transparent;
  @apply border-4;
  @apply border-current;
  @apply text-current;
}

.button--ghost:hover {
  @apply bg-transparent;
  @apply border-dashed;
  @apply text-red-600;
}

.button--link {
  @apply bg-transparent;
  @apply border-0;
  @apply border-transparent;
  @apply inline-block;
  @apply py-1;
  @apply px-0;
  @apply relative;
  @apply text-current;
}

.button--link::before {
  @apply absolute;
  @apply bg-gray-900;
  @apply bottom-0;
  @apply block;
  @apply duration-300;
  @apply h-1/20;
  @apply left-0;
  @apply transition-all;
  @apply w-full;

  content: '';
}

.button--link:hover {
  @apply bg-transparent;
  @apply text-red-700;
}

.button--link:hover::before {
  @apply w-0;
}

.button--svg {
  @apply bg-transparent;
  @apply border-0;
  @apply p-0;
  @apply text-current;
}

.button--svg:hover {
  @apply bg-transparent;
  @apply text-red-600;
}

.button--svg:focus {
  @apply outline-none;
}


/* Face *******************************************************/

.face__element {
  @apply duration-300;
  @apply transition-all;
}

.face__skin {
  fill: #ece1d1;
}

.face__shadow {
  fill: #d9c7b3;
}

.face__mouse,
.face__hair-base,
.face__hair-curl2 {
  fill: #333333;
}

.face__hair-curl1 {
  fill: #232323;
}

.face__hair-curl3 {
  fill: #191818;
}

.face__hair-curl4 {
  fill: #3f4040;
}

.face__glass-frame {
  fill: #5F5553;
}

.face__lens {
  fill: #ffffff;
}

.face:hover .face__element,
.header__home:hover .face__element {
  @apply fill-current;
}

.face:hover .face__glass-frame,
.header__home:hover .face__glass-frame {
  fill: #ffffff;
}


/* Icons *******************************************************/

.icon {
  @apply h-6;
  @apply w-6;
}

.icon--sm {
  @apply h-4;
  @apply w-4;
}

.icon--md {
  @apply h-8;
  @apply w-8;
}

.icon--burger .icon__part {
  @apply duration-300;
  @apply origin-center;
  @apply transform;
  @apply transition-all;
}

.icon--burger-close .icon__part--patty {
  @apply opacity-0;
}

.icon--burger-close .icon__part--green {
  @apply -translate-y-4;
  @apply rotate-15;
}

.icon--burger-close .icon__part--red {
  @apply translate-y-4;
  @apply -rotate-15;
}

.icon--burger-close .icon__part--top {
  @apply -translate-y-1;
}

.icon--burger-close .icon__part--bottom {
  @apply translate-y-1;
}


/* Main nav *******************************************************/

.main-nav {
  @apply font-bold;
  @apply text-2xl;
}

.main-nav__item {
  @apply block;
  @apply my-2;
  @apply no-underline;
}

.main-nav > li:last-child .main-nav__item {
  @apply mb-0;
}

.main-nav__item--active {
  @apply text-red-700;
}


/* Anchor nav *******************************************************/

.anchor-nav {
  @apply flex;
  @apply text-gray-600;
  @apply text-sm;
}

.anchor-nav__item {
  @apply mr-4;
}

/* hero *******************************************************/

.hero {
  @apply inline-block;
  @apply normal-case;
  @apply tracking-tight;
}

.hero__paragraph {
  @apply inline-block;
  @apply overflow-hidden;
}

.hero__line {
  @apply inline-block;
}

.hero__strong {
  @apply bg-gray-100;
  @apply font-bold;
  @apply inline-block;
  @apply px-1;
  @apply relative;
}

.hero__designer {
  @apply relative;
  @apply text-white;

  mix-blend-mode: difference;
}

.hero__product {
  @apply hidden;
}

.hero__box {
  @apply absolute;
  @apply bg-black;
  @apply h-full;
  @apply opacity-100;
  @apply inset-0;
  @apply w-full;
  @apply z-0;

  content: '';
}

.hero__value {
  @apply mb-12;
}

.hero__why {
  @apply duration-700;
  @apply cursor-not-allowed;
  @apply inline-block;
  @apply transition-all;
  @apply w-auto;
}

.hero__bad {
  @apply align-baseline;
  @apply duration-1000;
  @apply inline-block;
  @apply transition-all;
}

.hero__cta {
  @apply mt-4;
}


/* Typing *******************************************************/

.typing {
  @apply inline-block;
}

.typing__item {
  @apply block;
  @apply relative;

  /* animation: typing-line 24s steps(4) infinite; */
}

.typing__string {
  @apply inline-block;
  @apply leading-none;
  @apply relative;
}

.typing__string:after {
  @apply absolute;
  @apply border-l-2;
  @apply border-gray-900;
  @apply -mr-1;
  @apply right-0;
  @apply w-px;

  content: " ";
  top: -1px;
  bottom: -2px;
  animation: typing-cursor 0.3s linear infinite alternate;
}

@keyframes typing-cursor {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing-line {
  0% {
    top: 0;
  }
  100% {
    top: -6.5rem;
  }
}


/*=================================================================

 Contents

 [1] Project list
 [2] Tag list
 [3] Timeline
 [4] Quote

 =================================================================*/

/* Project list *******************************************************/

.project-list {
  @apply gap-8;
  @apply grid;
  @apply grid-cols-1;
}

.project-list__item,
.project-list__detail {
  @apply gap-3;
  @apply grid;
  @apply grid-cols-1;
}

.project-list__item + .project-list__item {
  @apply border-t;
  @apply border-gray-300;
  @apply pt-10;
}

.project-list__header {
  @apply flex;
  @apply flex-col;
  @apply justify-start;
  @apply leading-none;
}

.project-list__title {
  @apply capitalize;
  @apply inline-block;
  @apply mb-0;
  @apply truncate;
  @apply w-full;
}

.project-list__meta {
  @apply text-gray-600;
}

.project-list__thumbnail {
  @apply object-cover;
}

.project-list__description {
  @apply max-w-full;
  @apply mb-0;
}


/* Tag list *******************************************************/

.tag-list {
  @apply flex;
  @apply flex-wrap;
  @apply gap-2;
  @apply leading-none;
}

.tag {
  @apply bg-gray-300;
  @apply inline-block;
  @apply font-normal;
  @apply no-underline;
  @apply px-2;
  @apply py-1;
  @apply text-xs;
  @apply text-gray-600;
  @apply uppercase;
  @apply rounded-full;
}

.tag:hover,
.tag--active {
  @apply bg-red-600;
  @apply text-white;
}


/* Tineline *******************************************************/

.timeline {
  @apply my-4;
  @apply ml-1;
  @apply relative;
}

.timeline::before {
  @apply absolute;
  @apply block;
  @apply border-l-4;
  @apply border-red-700;
  @apply h-full;
  @apply left-0;
  @apply top-0;
  
  content: '';
  margin-left: calc( theme('borderWidth.4') / -2);
}

.timeline__event {
  @apply mt-8;
  @apply pl-8;
  @apply relative;
}

.timeline__event::before,
.timeline__event::after {
  @apply absolute;
  @apply block;
}

.timeline__event::before {
  @apply bg-gray-100;
  @apply border-4;
  @apply border-red-700;
  @apply h-4;
  @apply -ml-2;
  @apply left-0;
  @apply rounded-full;
  @apply w-4;

  content: '';
  top: 0.4rem;
}

.timeline__event::after {
  @apply text-xs;
  @apply text-gray-600;

  content: attr(data-date);
  left: theme('spacing.8');
  top: theme('spacing.8');
  width: calc(100% - theme('spacing.8'));
}

.timeline__meta {
  @apply text-gray-600;
}

.timeline__detail {
  @apply my-3;
}


/* Quote *******************************************************/

.quote {
  @apply border-l-4;
  @apply border-red-700;
  @apply font-serif;
  @apply leading-loose;
  @apply pl-4;
  @apply text-justify;
}

.quote-by {
  @apply block;
  @apply font-bold;
  @apply my-4;
  @apply uppercase;
  @apply text-xs;
}

/*=================================================================

 Media query

 [1] Medium screen
 [2] Large screen

 =================================================================*/

/* Medium screen *******************************************************/

@screen md {
  .page {
    @apply flex-row;
    @apply pt-0;
    @apply m-auto;
  }

  .content-section {
    @apply py-6;
    @apply px-8;
  }

  .header {
    @apply border-b-0;
    @apply h-screen;
    @apply w-48;
  }

  .header::before {
    @apply absolute;
    @apply bottom-0;
    @apply block;
    @apply border-r;
    @apply right-0;

    content: '';
    height: calc(theme('height.full') - theme('spacing.8'));
  }

  .header__wrapper {
    @apply flex-col;
    @apply py-12;
  }

  .header__brand {
    @apply flex-col;
  }

  .header__face {
    @apply h-24;
    @apply mb-4;
    @apply mr-0;
    @apply w-24;
  }

  .header__links {
    @apply gap-8;
    @apply mt-16;
    @apply ml-0;
  }

  .header__nav {
    @apply h-full;
    @apply mt-16;
    @apply text-center;
    @apply opacity-100;
    @apply w-auto;
  }

  .header__back-drop {
    @apply bg-opacity-0;
  }

  .main {
    @apply pb-16;
    @apply pr-0;
    @apply w-auto;

    padding-left: theme('width.48');
  }

  .footer {
    @apply bottom-0;
    @apply inset-x-0;
    @apply fixed;
    @apply z-40;
  }

  .footer__credit {
    @apply px-8;
  }

  .footer__links--build {
    @apply inline-flex;
  }

  .hero {
    @apply tracking-normal;
  }

  .hero__product {
    @apply inline;
  }

  .project-list {
    @apply gap-12;
  }

  .project-list__item {
    @apply gap-12;

    grid-template-columns: 40% 60%;
  }

  .project-list__item + .project-list__item {
    @apply pt-12;
  }

  .project-list__header {
    @apply flex-col-reverse;
  }
}


/* Large screen *******************************************************/

@screen lg {
.h1 {
    @apply text-5xl;
  }

  .h2 {
    @apply text-4xl;
  }

  .h3 {
    @apply text-3xl;
  }

  .h4 {
    @apply text-2xl;
  }

  .h5 {
    @apply text-xl;
  }

  .h6 {
    @apply text-lg;
  }

  .content-column {
    @apply gap-8;
    @apply grid-rows-none;

    grid-template-columns: 1fr minmax(max-content, 15%);
  }

  .content-column__side-bar {
    @apply col-start-2;
    @apply pt-8;
    @apply row-start-1;
  }

  .content-column__main {
    @apply col-start-1;
    @apply row-start-1;
  }

  .content-section {
    @apply py-8;
    @apply pl-16;
  }

  .header {
    @apply w-64;
  }

  .header__wrapper {
    @apply px-12;
  }

  .header__face {
    @apply h-32;
    @apply w-32;
  }

  .main {
    padding-left: theme('width.64');
  }

  .footer__credit {
    @apply px-0;
  }

  .anchor-nav {
    @apply flex-col;
  }

  .hero {
    @apply tracking-wide;
  }

  .hero__value {
    @apply mb-24;
  }

  .timeline {
    @apply ml-40;
  }

  .timeline__event::before {
    top: 0.55rem;
  }

  .timeline__event::after {
    @apply left-auto;
    @apply text-right;
    @apply w-40;

    top: 0.48rem;
    right: calc(100% + theme('spacing.6'));
  }

  .timeline__title {
    @apply mb-0;
  }
}


/* Extra large screen *******************************************************/

@screen xl {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply leading-normal;
  }

  .h1 {
    @apply text-6xl;
  }

  .h2 {
    @apply text-5xl;
  }

  .h3 {
    @apply text-4xl;
  }

  .h4 {
    @apply text-3xl;
  }

  .h5 {
    @apply text-2xl;
  }

  .h6 {
    @apply text-xl;
  }
}
